/*Reglas Generales*/
body {
    background-color: gray;
    background-image: url(Img/Pag1/New\ fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

h1 span {
    color: #FC4849;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 3%;
}

* {
    text-decoration: none;
    color: white;
    font-family: 'Protest Guerrilla', sans-serif;
}
/*Fin Reglas Generales*/

/* Header */
header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    height: 8%;
    color: white;
    width: 100vw;
    z-index: 2;
}

header Nav {
    padding-right: 5em;
}

header #img_header {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0 0 0 5%;
}

Nav .Nav_bar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.Nav_bar li {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    font-weight: 550;
}

Nav li:hover {
    color: white;
    text-decoration: underline;
    background-color: hsl(360, 97%, 64%);
}

/* Fin Header */

/* Página1 */
main {
    padding: 0;
    margin: 0;
    height: auto;
}

main #Pag1 {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

#Pag1 img{
    padding: 0;
    z-index: 1;
}

#Pag1 h1{
    padding: 0;
    z-index: 1;
}

#Pag1 #principal {
    background-color: hsl(360, 97%, 64%, 0.2);
    z-index: 0;
    padding: 5% 15% 5% 15%;
    border-radius: 20%;
}

/* Fin Página1 */

/* Página2 */
#Pag2 {
    margin: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: gray;
    padding: auto;
}

#Pag2 h5 {
    text-align: center;
}

#Cards_servicios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

#Cards_servicios .Card {
    display: flex;
    flex-direction: column;
    border: black solid 3px;
    background-color: black;
    justify-content: center;
    padding: 2%;
    border-radius: 20px;
    height: 50%;
    width: 20%;
    transition: transform 0.5s ease-in-out;
    align-items: flex-start;
}

.Card img {
    height: 20%;
    width: 100%;
    display: flex;
    padding: 2%;
    border-radius: 30px;
    position:static;
}

#Cards_servicios h2, #Cards_servicios h4 {
    color: white;
    display: flex;
    justify-content: center;
    padding: auto;
}

.Card img:hover{
    height: 100%;
    width: 100%;
    transform: scale(1.1);
}
/*Fin Pagina2*/
/* Página 3 */
#Pag3 {
    margin: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    padding: auto;
}

.productos {
    display: flex;
    padding-bottom: 5%;
}


.producto {
    display: flex;
    gap: 1em;
    align-items: center;
}

.producto .coche {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 40%;
    height: 30vh;
    padding: 1em;
}

.coche article {
    display: flex;
    height: auto;
    width: auto;
    flex: 0 0 100%;
    scroll-snap-align: center;
    padding: 1em;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
/*Fin Pagina3 */

/*Pagina4*/
#Pag4 {
    padding: 0px 0px 8% 0px;
    background-color: gray;
    margin: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Pag4 form {
    display: flex;
    width: 60%;
    padding: 2em;
    color: black;
    background-color: black;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
}

#container .Column {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    flex-direction: column;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;  
}

form #container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Pag4 input {
    margin: 1em;
    color: black;
    width: 20vh;
    padding: 8px 3px 8px 3px;
}
#Pag4 label{
    padding: 8px 3px 8px 3px;
}

#Pag4 select {
    color: black;
    padding: 8px 3px 8px 3px;
}

#Pag4 textarea {
    color: black;
    padding: 10px;
    width: 50vh;
}

#Pag4 option {
    background-color: black;
}

#Pag4 #Enviar {
    display: flex;
    justify-content: center;
}
/*Fin Pagina4*/

/*Pagina 5*/
#Pag5 {
    margin: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    padding: auto;
}

#Pag5 #art_about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#art_about #Layer1 {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 0 20% 0 20%;
}

#Layer1 img {
    width: 50%;
    height: 50%;
}

#Layer1 #Historia {
    display: flex;
    flex-grow: 1;
}

#Layer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Layer2 #ventajas {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#ventajas div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ubicacion {
    text-align: center;
    padding: 1em;
}

/*Fin Pagina5*/

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: auto;
    flex-direction: row-reverse;
    width: 100%;
}

#Footer_nav .Footer_ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 1em;
}

.Footer_ul li {
    display: flex;
    padding: 2em;
    font-size: 18px;
    align-content: center;
}

#telf,
#mail,
#separacion {
    padding: 2em;
}

#Contacto_footer {
    padding: 1em;
    margin-right: 10px;
}

.Footer_ul li:hover {
    color: white;
    text-decoration: underline;
    background-color: black;
}
/*Fin Footer*/

/* Media Query para teléfonos */
@media only screen and (max-width: 800px) {
    header {
        height: 15%;
    }
    header #img_header {
        height: auto;
        width: auto;
        margin: 0;
        padding: 0 0 0 5%;
    }
    
    Nav .Nav_bar {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: baseline;
    
    }
    
    .Nav_bar li {
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        padding: 1em;
        padding-top: 10%;
        font-weight: 550;
    }

    #Pag1 h1{
        text-align: center;
    }

    #Pag1 #principal {
        background-color: hsl(360, 97%, 64%, 0.2);
        z-index: 0;
        padding: 1% 4% 1% 4%;
        border-radius: 20%;
    }

    #Pag2 .Card h2, #Pag2 .Card h4{
        color: white;
    }

    #Pag2 .Card img {
        display: none;
    }

    #Pag2 #Cards_servicios{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #Pag2 .Card{
        height: 20vh;
        width: 80vw;
        color: white;
        padding-bottom: 2vh;
    }

   
    #Pag3 .productos {
        display: flex;
        flex-direction: column;
    }

    #Pag4 #form {
        margin: 1% 5% 9% 5%;
        height: auto;
        width: auto;
    }
    #form form {
        display: flex;
        flex-direction: column; 
        width: 90%;
        height: auto;
        padding-left: 10%;
    }

    #Pag5 #Layer1,
    #Pag5 #Layer2 {
        height: auto;
        width: auto;
    }

    .Footer_ul {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    #Cards_servicios #Card img,
    #Cards_servicios h2,
    #Cards_servicios h4,
    #Pag4 input,
    #Pag4 select,
    #Pag4 textarea {
        color: black;
    }

    #Pag4 #form,
    #Pag4 #Enviar {
        display: flex;
        justify-content: center;
    }

    #Footer_nav .Footer_ul li {
        display: flex;
        padding: 2em;
        font-size: 18px;
        justify-content: center;
    }

    .Footer_ul li:hover {
        color: white;
        text-decoration: underline;
        background-color: black;
        display: flex;
        justify-content: center;
        border-radius: 50px;
    }
}
/*Fin Responsive*/